In [16]:
from evidently import ColumnMapping
from evidently.report import Report
from evidently.metrics import ColumnDriftMetric, DatasetDriftMetric, DatasetMissingValuesMetric
import pandas as pd
import numpy as np
from tqdm import tqdm
import mlflow
import pickle
import xgboost as xgb

In [21]:
with open('data/train.bin', 'rb') as f_in :
    X_train, y_train = pickle.load(f_in)

with open('data/test.bin', 'rb') as f_in :
    X_test, y_test = pickle.load(f_in)
    
xg_train = xgb.DMatrix(X_train, label=y_train)

In [20]:
model_name = "xgboost"
stage = 'Production'
model = mlflow.xgboost.load_model("./mlruns/1/6b6ffc7871fe4ea0b9eb457cbf6a309a/artifacts/model")
prediction = model.predict(xg_train)

In [ ]:
features = ['Car Name', 'Year', 'Distance', 'Owner', 'Fuel', 'Location', 'Drive', 'Type',] #'Price']

In [ ]:
features = ['Car Name', 'Year', 'Distance', 'Owner', 'Fuel', 'Location', 'Drive', 'Type',]
X_train = pd.DataFrame(X_train, columns = features )

In [ ]:
X_train['prediction'] = prediction

In [23]:

X_train.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
categorical_features = ['Car Name', 'Fuel', 'Location', 'Drive', 'Type']
target_feature = 'Price'

In [28]:
df = pd.read_csv("cars_24_combined.csv").drop(columns=["Unnamed: 0"])
df.head(3)

,Car Name,Year,Distance,Owner,Fuel,Location,Drive,Type,Price
0,Maruti S PRESSO,2022.0,3878,1,PETROL,HR-98,Manual,HatchBack,514000
1,Hyundai Xcent,2018.0,32041,1,PETROL,TN-22,Manual,Sedan,674000
2,Tata Safari,2021.0,96339,1,DIESEL,TS-08,Automatic,SUV,1952000